<div style="padding: 5px; text-align: center;color:aliceblue ;background-color: green;">
  <b>Chat B</b>
</div>

  <div style="padding: 200px; background: url(../../../assets/images/1e98e2595b3ee68a551f8dab037c00ec.jpg);padding: 10px">
    <div *ngFor="let msg of messages">
      <div class="col-6" *ngIf="msg?.author ==='User1'" style="margin-left: 10px;padding: 5px; background-color: rgba(240, 255, 255, 0.569);">
          <p>{{msg?.message}}</p>
      </div>
      <div class="col-6" *ngIf="msg?.author ==='User2'" style="margin-top: 10px; margin-left: 10px;padding: 5px; background-color: rgba(240, 255, 255, 0.569);">
          <p>{{msg?.message}}</p>
      </div>
    </div>
  </div>
<div  style="padding: 5px; background-color: rgb(94, 91, 91)">
  <form [formGroup]="messageDetails">
    <textarea formControlName="msg" class="form-control" id="exampleFormControlTextarea1" rows="3"  (keypress)="sendMessage($event)"></textarea>
  </form>
</div>

