<!-- <ng-template #content let-modal>
  <img src="{{imageSelected}}" alt="" class="image-edit">
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)" style="display: none;" id="openModal">search</button> -->

<div class="container" style="padding-top: 100px;">
  <!-- <div class="row">
    <div class="col-12 text-center">
      <h1>Carousel feito com NG-Bootstrap</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <ngb-carousel *ngIf="loadImages" [interval]="2000" [showNavigationArrows]="false" [showNavigationIndicators]="false">
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="picsum-img-wrapper">
            <img [src]="image.path" alt="Random first slide">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="body">
      <div class="container">
        <div class="section section--demo" id="examples" aria-disabled="false">
            <carousel
              (click)="selectImage($event)"
              [images]="images"
              [objectFit]="'cover'">
            </carousel>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" style="padding-top: 30px;">
    <div class="col-12 text-center">
      <h1>Video feito com próprio plugin do Angular</h1>
    </div>
  </div>
  <div class="row" style="padding-top: 10px;">
    <div class="col-2"></div>
    <div class="col-8">
      <youtube-player
        videoId="-ohJ5v6l1Q8"
        suggestedQuality="highres"
        [height]="350"
        [width]="730"
        [startSeconds]="0"
        [endSeconds]="100">
      </youtube-player>
    </div>
  </div>
  <hr> -->
  <div class="container" style="border: 1px solid; background-color: #D0E1D4; padding-top: 30px; padding-bottom: 30px;">
    <div class="row row-1" *ngFor="let msg of messages">
      <div class="col-4" style="background-color: white; border-radius: 10px" *ngIf="msg?.author ==='Assistant'">
        <span>{{msg?.author}} - {{msg?.time}}</span>
        <p>{{msg?.message}}</p>
      </div>
      <div class="col-8" *ngIf="msg?.author ==='Assistant'"></div>
      <div class="col-8" *ngIf="msg?.author !=='Assistant'"></div>
      <div class="col-4 text-right" style="background-color: #dcf8c6; border-radius: 10px" *ngIf="msg?.author !=='Assistant'">
        <span>{{msg?.author}} - {{msg?.time}}</span>
        <p>{{msg?.message}}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="padding-top: 20px;">
      <div class="col-4" style="padding-right: 0px!important; padding-left: 0px!important;">
        <form [formGroup]="messageDetails">
          <h3><strong>Write down your message</strong></h3>
          <textarea formControlName="msg" class="form-control" id="exampleFormControlTextarea1" rows="3" (keypress)="sendMessage($event)"></textarea>
        </form>
      </div>
    </div>
  </div>
</div>
